[Unit]
Description=zram-swap-manager
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zram-swap-manager -r
ExecStop=/usr/local/bin/zram-swap-manager -f
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
